@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #ffffff;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5); */
  
  max-width: 100%;
}

/* .tabs > *:not(:last-child) {
    border-bottom: 1px solid var(--primary-text-color);
  } */

.wrap {
  border-bottom: 1px solid var(--primary-text-color);
  text-align: center;
}

.tab {
  width: 40rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
  overflow: hidden;
  background-color: #736b6b38;
}
.h1 {
  font-size: 3.2em;
  font-family: "Sumana", serif;
  margin-bottom: 3rem;
  background: linear-gradient(to right, #bb86fc, #121212);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-color: #bb86fc;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: var(--primary-color);
  color: #ffffff;
  font-size: 1.3em;
  cursor: pointer;
}

.tab-label:hover,
.tab-label:focus {
  background: var(--secondary-color);
  /* color: var(--primary-text-color); */
}
.tab-label::after {
  content: "â¯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;

  color: var(--secondary-color);
  background-color: var(--primary-text-color);
  transition: all 0.35s;
}

.tab-content > * {
  margin: 0;
  /* padding: 0; */
  width: fit-content;
}

/* .tab-content > ul > li {
    padding: 0;
    width: fit-content;
  } */

.tab-close {
  display: flex;
  justify-content: center;
  padding: 1em;
  /* width: 10%; */
  font-size: 1em;
  background: var(--secondary-color);
  color: var(--primary-text-color);
  cursor: pointer;
  margin-bottom: 45rem;
}
.tab-close:hover,
.tab-close:focus {
  background: var(--secondary-color);
  color: var(--primary-text-color);
}

input:checked + .tab-label {
  background: var(--secondary-color);
  color: var(--primary-text-color);
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.h2 {
  /* font-size: 1.2em;
    font-family: "Sumana", serif;
    margin-bottom: 1rem; */
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
  font-size: 1.8em;
  font-weight: 500;
  color: #BB86FF;
}

/* Background Styles Only */
