/* Underline Animation */

.hover_underline_animation {
    display: inline-block;
    position: relative;
  }
  
  .hover_underline_animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #BB86FC;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover_underline_animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }